extends ../layout

block content
	h1.
		Blob ID #{fonkapp._id}
	form(action='/fonkapps/#{fonkapp._id}/edit',method='post',name='updatefonkapp',enctype='application/x-www-form-urlencoded')
		p Name:
			input#inputName(type='text', value='#{fonkapp.name}', name='name')
		p Category:
			input#inputName(type='text', value='#{fonkapp.category}', name='category')
		p Company Path:
			input#inputName(type='text', value='#{fonkapp.company}', name='company')
		p Flickr ID:
			input#inputName(type='text', value='#{fonkapp.flickr}', name='flickr')
		p MC dev code:
			input#inputName(type='text', value='#{fonkapp.mcdevcode}', name='mcdevcode')
		p Add Sense:
			input#inputName(type='text', value='#{fonkapp.addsense}', name='addsense')
		p Category:
			input#inputName(type='text', value='#{fonkapp.category}', name='category')
		p
			input(type='hidden',value='PUT',name='_method')
		p
			button#btnSubmit(type='submit').
				Update