extends ../layout

block content
    h1.
        Infophoto #{fonkapp._id}
    p Name: #{fonkapp.name}
    p User: #{fonkapp.user}
    p Category: #{fonkapp.category}
    p Badge: #{fonkapp.badge}
    p DOB: #{fonkapp}
    p Is Loved: #{fonkapp.isloved}