extends ../layout

block content
    h1.
        Infophoto #{fonkapp._id}
    p Name: #{fonkapp.name}
    p User: #{fonkapp.user}
    p Category: #{fonkapp.category}
    p Company: #{fonkapp.company}
    p Flickr ID: #{fonkapp.flickr}
    p MC dev code: #{fonkapp.mcdevcode}
    p Add Sense: #{fonkapp.addsense}
    //p Badge: #{fonkapp.badge}
    //p DOB: #{fonkapp}
    //p Is Loved: #{fonkapp.isloved}